.genres-for-render {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

  &-genre {
    background-color: #26272b;
    border-radius: 0.28rem;
    padding: 0 4px;
    margin: 1px;
    font-size: 16px;
  }

  &-link {
    color: white;
  }

  &-link:hover {
    text-decoration: none;
    color: red;
  }
}
