.watchlist-container {
  min-height: 45.4vh;

  & .black {
    color: #509eff;
  }

}

.watchlist {
  margin: 0 5%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}

h4 {
  margin-top: 10px;
  text-align: center;
}
